<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.readboy.Q.Gspt"
    android:versionCode="180814002"
    android:versionName="1.0.5.0" >

    <uses-sdk android:minSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:name="com.readboy.Q.app.App"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.readboy.Q.Activity.GsptMainActivity"
            android:configChanges="keyboard|orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/NoTitleBarFullTheme"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.readboy.APPLICATION.FLAG" />
                <action android:name="android.readboy.FLAG_HIDE_SYSTEMBAR" />
				<action android:name="android.readboy.APPLICATION.FLAG.Q5" />
				<action android:name="com.readboy.application" />
				<action android:name="com.readboy.math.application" />
				
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="POSITION_META_DATA"
                android:value="com.readboy.Q.MODULE_ARTIST" />
        </activity>
        <activity
            android:name="com.readboy.Q.Activity.GsptIngameActivity"
            android:configChanges="keyboard|orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/NoTitleBarFullTheme" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.readboy.FLAG_HIDE_SYSTEMBAR" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.loveplusplus.update.DialogActivity"
            android:configChanges="keyboard|orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
            <intent-filter>
                <action android:name="android.readboy.FLAG_HIDE_SYSTEMBAR" />
            </intent-filter>
        </activity>

        <service
            android:name="com.loveplusplus.update.DownloadService"
            android:enabled="true"
            android:process=":dlservice" >
        </service>
    </application>

</manifest>